.details {
    background: var(--background-color);
    height: 100vh;
    overflow-x: hidden;

    h1 {
        color: white;
    }

    .item-details {
        h1 {
            color: white;
        }
    }
}